.cart__button{
  font-size: 1.5rem;
  border: none;
  padding: 5px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  cursor: pointer;
  position: relative;
  margin-left: 20px ;
}

.cart-status{
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 15px;
  color: white;
  font-size: 11px;
  font-weight: 600;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
